.wrapper1
  .sidebar
    .sidebar__name
      seo
    .sidebar__mark
      =link_to "#", class: "sidebar__btn" do
        = icon('fas', 'edit')
      =link_to "#", class: "sidebar__btn" do
        = icon('fas', 'cog')
  .sidebar-contents
    .group
      .group__name
        %p test2
      .group__comment
        %p さようなら